<!-- Navbar -->
<div id="topmenu" class="hidden-xs">
    <ul class="dropdown clearfix boxed">
        <li class="menu-level-0"><a href="home.html"><i class="navbar-icon fa fa-home"></i><span>home</span></a></li>
        <li class="menu-level-0">
            <%= link_to projects_path do %>
                <i class="navbar-icon fa fa-briefcase"></i><span>projects</span>
            <% end %>
        </li>
        <li class="menu-level-0">
            <%= link_to activities_path do %>
                <i class="navbar-icon fa fa-plus-circle"></i><span>activities</span>
            <% end %>
        </li>
        <li class="menu-level-0"><a href="#"><i class="navbar-icon fa fa-paper-plane"></i><span>sheets</span></a>
            <ul class="submenu-1">
                <li class="menu-level-1"><a href="#">new</a></li>
                <li class="menu-level-1"><a href="#">pending approval</a></li>
                <li class="menu-level-1"><a href="#">approved</a>
            </ul>
        </li>
        <li class="menu-level-0"><a href="#"><i class="navbar-icon icon-menu4 fa fa-calendar"></i><span>calendar</span></a></li>
    </ul>
</div>
<!--/ Navbar -->