<!-- Avatar Placeholder -->
<div class="widget-container widget_avatar boxed">
    <div class="avatar-image"><img src="assets/temp/avatar-image.jpg" alt="" /></div>
    <div class="inner clearfix">
        <div class="avatar"><img src="assets/temp/avatar.png" alt="" /></div>
        <h5>John Raymons</h5>
        <span class="subtitle">Your talent amazes! This is awesome. Excited to see the final product.</span>
    </div>
</div>