<!-- Avatar Placeholder -->
<div class="widget-container widget_avatar boxed hidden-xs">
    <div class="avatar-image"><img src="assets/temp/avatar-image.jpg" alt="" /></div>
    <div class="inner clearfix">
        <div class="avatar"><img src="assets/temp/avatar.png" alt="" /></div>
        <h5><%= current_user.name %></h5>
        <span class="subtitle"><%= current_user.designation %></span>
    </div>
</div>