<!-- Recent Activity -->
<div class="widget-container widget_profile widget_categories boxed hidden-xs">
    <div class="widget-title">
        <div class="avatar" style="width: 70px;height: 70px;"><img src="assets/sheets.jpg" alt="" style="width: 54px;height: 54px;" /></div>
        <h5>Recent Activity</h5>
    </div>
    <div class="inner">
       <% @activities.each do |activity|%>
       <ul>
         <li>
           <a></i>
           <span><%=activity.name%></span>
        </li>
      </ul>
       <%end%>
    </div>
</div>
<!--/ Recent Activity -->