<!-- Summary -->
<div class="widget-container widget-trade boxed">
    <div class="widget-title">
        <span class="trade-rate trade-rate-up">634. 39</span>
        <span class="trade-rate-change">+2.18 (3.71%)</span>
    </div>
</div>
<!--/ Summary -->