<div class="container container-wide">
  <div class="content" role="main">
    
    <%= render partial: 'shared/navbar' %>

    <%= render partial: 'header' %>

    <div id="activity-list">
      <% @activity_map.each do |date, activities| %>
        <%= render partial: 'grouped_activity_list', locals: { date: date, activities: activities} %>
      <% end %>
    </div>
  </div>
</div>
